In [2]:
import torch
import warnings
warnings.filterwarnings('ignore')

In [3]:
model = torch.hub.load('ultralytics/yolov5', 'yolov5s', _verbose=False)

img = "images/detect_1.jpg"

Using cache found in /home/sebas/.cache/torch/hub/ultralytics_yolov5_master

In [4]:
results = model(img)
results.pandas().xyxy[0]

,xmin,ymin,xmax,ymax,confidence,class,name
0,159.107315,67.399002,378.934814,330.198547,0.907255,5,bus
1,368.635162,151.779572,496.915558,327.852631,0.844769,5,bus
2,134.464005,209.432632,182.782745,366.263367,0.825072,0,person
3,101.973907,213.197235,138.032837,346.918579,0.821136,0,person
4,49.781570,225.628632,79.650696,320.503418,0.761846,0,person
5,314.433289,286.374695,354.532990,359.082794,0.753854,1,bicycle
6,19.027094,225.319672,44.310299,292.423859,0.740505,0,person
7,306.101929,237.183823,353.280121,351.489258,0.646240,0,person
8,466.997559,163.705704,766.277100,379.142059,0.607123,2,car
9,99.533600,21.536921,150.747070,132.083969,0.423501,9,traffic light
10,36.877472,225.124847,55.584442,289.362640,0.329496,0,person